<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="52416Teleter.12275D6144B62" Publisher="CN=1C4047CF-9471-4593-A048-9E0B5FFC9F8D" Version="1.0.0.22" />
  <mp:PhoneIdentity PhoneProductId="cbd66e69-a540-4ae5-8827-3d4f6f210c52" PhonePublisherId="f40d7aba-3323-4c40-b9cc-f8af60aec2aa" />
  <Properties>
    <DisplayName>CameraBeta</DisplayName>
    <PublisherDisplayName>Teleter</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="xcbd66e69ya540y4ae5y8827y3d4f6f210c52x" Executable="AGHost.exe" EntryPoint="PerfectCameracs.app">
      <m3:VisualElements DisplayName="CameraBeta" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="CameraBeta" ForegroundText="light" BackgroundColor="#464646">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\Splashscreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>